{% extends 'base.html' %}
{% load static %} 

{% block head %}
<title>Browser-based Resistance</title>
{% endblock %}

{% block body %}
<!-- <img src="{% static 'mr_robot.jpg' %}"/> -->

<div id="component"></div>

<!-- <script type="text/babel" src="{% static 'js/index.js' %}"></script> -->

<script type="text/babel" src="{% static 'js/components/SingleQuest.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/QuestBox.js' %}"></script>
<script type="text/babel" src="{% static 'js/styles.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/GameBox.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/GameLobby.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/Lobby.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/Main.js' %}"></script>

{% endblock %}