{% extends 'base.html' %}
{% load static %} 

{% block head %}
<title>Browser-based Resistance</title>
{% endblock %}

{% block body %}

<div id="component"></div>

<script type="text/babel" src="{% static 'js/components/buttons.js' %}"></script>
<script type="text/babel" src="{% static 'js/methods.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/NewPlayer.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/NotFound.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/SingleQuest.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/QuestBox.js' %}"></script>
<script type="text/babel" src="{% static 'js/styles.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/Game.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/Lobby.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/Home.js' %}"></script>
<script type="text/babel" src="{% static 'js/components/TopLevel.js' %}"></script>
<script type="text/babel" src="{% static 'js/App.js' %}"></script>

{% endblock %}